<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title>Angular 101 Controllers demo</title>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<!-- Bootstrap -->
    	<link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" media="screen">
    	<style>
    		body {
			  padding-top: 50px;
			  font-size : 22px;
			}
			.starter-template {
			  padding: 40px 15px;
			  text-align: center;
			}
			.more-space-at-bottom {
				margin-bottom: 25px;
			}
			.block {
				height: 1000px;
			}
		</style>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <a class="navbar-brand" href="#">Angular 101 - Controllers demo</a>
	        </div>
	        <div class="collapse navbar-collapse">
	          <ul class="nav navbar-nav">
	            <li><a href="#lesson1">Lesson 1</a></li>
	            <li><a href="#lesson2">Lesson 2</a></li>
	          </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </div>

	    <div class="container">

	      <div class="starter-template">
	        <h1>Demo shows how to use Angular controllers</h1>
	      </div>

	      <section id="lesson1">
	      	<header>
	      		<h2>Lesson 1. How to use controllers</h2>
	      	</header>
	      	<div ng-controller="PeopleAppCtrl">
	      		<span class="">Hello, I am <strong>{{ controllerName }}</strong></span>


	      		<div class="col-md-offset-1" ng-controller="PeopleCtrl">
	      			<p class="">Hello, I am <strong>{{ controllerName }}</strong></p>
	      			<!-- people.length could be used instead -->
	      			<p>There are {{ countPeople() }} people</p>
	      			<div>
	      				<div ng-repeat="person in people"
      						 ng-controller="PersonCtrl"
      						 class="col-md-offset-1 more-space-at-bottom">
	      					<p><small>Hello, I am <strong>{{ controllerName }}</strong></small></p>

	      					<span ng-click="down=!down">{{ person.name }} {{ person.last }} 
	      						<span class="glyphicon" 
	      						ng-class="{'glyphicon-chevron-down' : down, 'glyphicon-chevron-up' : !down}"></span>
      						</span>
	      					<p ng-show="!down">works in {{ person.job }}</p>
	      				</div>	
	      			</div>
	      		</div>
	      	</div>
          </section>

          <block></block>

          <section id="lesson2">
	      	<header>
	      		<h2>Lesson 2. Using controller-as syntax</h2>
	      	</header>

          </section>

	    </div>

	</body>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="bower_components/angular-mocks/angular-mocks.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="scripts/app.js"></script>
	<script src="scripts/demo-utils.js"></script>
	<script src="scripts/people/people.js"></script>

</html>
