people-list.html

<div class="col-md-offset-1" ng-controller="PeopleCtrl">
<!-- people.length could be used instead -->
<p>There are {{ countPeople() }} people</p>
<div>
	<div ng-repeat="person in people"
		 ng-controller="PersonCtrl"
		 class="col-md-offset-1 more-space-at-bottom">

		<span ng-click="down=!down">{{ person.name }} {{ person.last }} 
			<span class="glyphicon" 
			ng-class="{'glyphicon-chevron-down' : down, 'glyphicon-chevron-up' : !down}"></span>
		</span>
		<div ng-show="!down">
			<p>works in {{ person.job }}</p>	      						
		</div>
		
	</div>	
</div>
</div>