<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title>Angular 101 Services demo</title>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<!-- Bootstrap -->
    	<link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" media="screen">
    	<style>
    		body {
			  padding-top: 50px;
			  font-size : 22px;
			}
			.starter-template {
			  padding: 40px 15px;
			  text-align: center;
			}
			.more-space-at-bottom {
				margin-bottom: 25px;
			}
			.block {
				height: 1000px;
			}
			.target { 
				padding-top: 80px; 
				margin-top: -80px;
			}
			.nav {
				font-size : 14px;
			}
		</style>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <a class="navbar-brand" ng-click="lesson = 0" href="#">Angular 101 - Services demo</a>
	        </div>
	        <div class="collapse navbar-collapse">
	          <ul class="nav navbar-nav">
	            <li ng-class="{active : lesson == 1}"><a href="#lesson1" ng-click="lesson = 1">Lesson 1</a></li>
	            <li ng-class="{active : lesson == 2}"><a href="#lesson2" ng-click="lesson = 2">Lesson 2</a></li>
	            <li ng-class="{active : lesson == 3}"><a href="#lesson3" ng-click="lesson = 3">Lesson 3</a></li>
	            <li ng-class="{active : lesson == 4}"><a href="#lesson4" ng-click="lesson = 4">Lesson 4</a></li>
	          </ul>
	        </div><!--/.nav-collapse -->
	        <div>
	        	<timer key="servicesDemo" minutes="20"></timer>
	        </div>
	      </div>	      
	    </div>

	    <div class="container">

	      <div class="starter-template">
	        <h1>Demo shows different ways of creating services</h1>
	      </div>

	      <section id="lesson1" class="target">
	      	<header>
	      		<h2>Lesson 1. Creating basic services</h2>
	      	</header>
	      	<div ng-controller="PeopleAppCtrl">
	      		
	      		<div class="col-md-offset-1" ng-controller="PeopleCtrl">
	      			<!-- people.length could be used instead -->
	      			<p>There are {{ countPeople() }} people</p>
	      			<div>
	      				<div ng-repeat="person in people"
      						 ng-controller="PersonCtrl"
      						 class="col-md-offset-1 more-space-at-bottom">
	      		
	      					<span ng-click="down=!down">{{ person.name }} {{ person.last }} 
	      						<span class="glyphicon" 
	      						ng-class="{'glyphicon-chevron-down' : down, 'glyphicon-chevron-up' : !down}"></span>
      						</span>
	      					<div ng-show="!down">
	      						<p>works in {{ person.job }}</p>	      						
	      					</div>
	      					
	      				</div>	
	      			</div>
	      		</div>
	      	</div>
          </section>

          <block></block>

          <section id="lesson2" class="target">
	      	<header>
	      		<h2>Lesson 2. Using factory to create services</h2>
	      	</header>
      		<div ng-controller="PeopleAppCtrl">
	      		
	      		<div class="col-md-offset-1" ng-controller="PeopleCtrl">
	      			<!-- people.length could be used instead -->
	      			<p>There are {{ countPeople() }} people</p>
	      			<div>
	      				<div ng-repeat="person in people"
      						 ng-controller="PersonCtrlLesson2"
      						 class="col-md-offset-1 more-space-at-bottom">
	      		
	      					<span ng-click="down=!down">{{ fullName }}
	      						<span class="glyphicon" 
	      						ng-class="{'glyphicon-chevron-down' : down, 'glyphicon-chevron-up' : !down}"></span>
      						</span>
	      					<div ng-show="!down">
	      						<p>works in {{ person.job }}</p>	      						
	      					</div>
	      					
	      				</div>	
	      			</div>
	      		</div>
	      	</div>

          </section>

          <block></block>

          <section id="lesson3" class="target">
	      	<header>
	      		<h2>Lesson 3. Creating configurable services via provider</h2>
	      	</header>
	      	<div ng-controller="PeopleAppCtrl">
	      		
	      		<div class="col-md-offset-1" ng-controller="PeopleCtrl">
	      			<!-- people.length could be used instead -->
	      			<p>There are {{ countPeople() }} people</p>
	      			<div>
	      				<div ng-repeat="person in people"
      						 ng-controller="PersonCtrlLesson3"
      						 class="col-md-offset-1 more-space-at-bottom">
	      		
	      					<span ng-click="down=!down">{{ fullName }}
	      						<span class="glyphicon" 
	      						ng-class="{'glyphicon-chevron-down' : down, 'glyphicon-chevron-up' : !down}"></span>
      						</span>
	      					<div ng-show="!down">
	      						<p>works in {{ person.job }}</p>	      						
	      					</div>
	      					
	      				</div>	
	      			</div>
	      		</div>
	      	</div>

          </section>

          <block></block>


          <section id="lesson4" class="target">
	      	<header>
	      		<h2>Lesson 4. Using services for inter-controller communication</h2>
	      	</header>
	      	<div>
	      		<div ng-controller="PostingCtrl">
	      			<h3>Post some message</h3>
	      			<input type="text" ng-keypress="$event.keyCode == 13 && postMessage(message)" ng-model="message.text"/>
	      			<button ng-click="postMessage(message)" 
	      			class="btn btn-success">Post</button>
	      		</div>

	      		<div ng-controller="ReadingCtrl">
	      			<h3>Read messages in completely different scope</h3>
	      			<div ng-repeat="msg in messages">
	      				<p>{{ msg.text }}</p>
	      			</div>
	      		</div>
	      	</div>
          </section>

          <block></block>
	    </div>

	</body>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="bower_components/angular-mocks/angular-mocks.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="scripts/app.js"></script>
	<script src="scripts/demo/demo-utils.js"></script>
	<script src="scripts/people/people.js"></script>
	<script src="scripts/services/services.js"></script>
	<script src="scripts/services/communication.js"></script>

</html>
